# Environment configurations for flawed pipeline setup

# Note: The Lambda function does not currently use active env vars to configure the flaws
# since the flaws are hard-coded into the python handler and yaml configuration.
# If you decide to parameterize the environment, do so here.

# Sample configurations
# AWS_PROFILE=default
# AWS_REGION=us-east-1
